# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/backend/node_modules
/backend/.pnp
.backend/pnp.js

/client/.pnp
.client/pnp.js

# testing
/backend/coverage
/client/coverage

# production
/backend/build
/client/build

# misc
backend/DS_Store
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

client/DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

backend/mongokey.js